<a href="https://colab.research.google.com/github/divya938/fmml2021/blob/main/05_Flow_control_statement_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Flow control using for-loop
#### 'For' statement is used for iterating over an arithmetic progression of numbers

In [1]:
# range
for i in range(9, 19, 3):
  print (i, end=" ")

9 12 15 18

In [5]:
for i in {'d','i','v','a'}:
  print (i)

d
v
i
a

In [6]:
for a in 'hello':
  print(a)

h
e
l
l
o

#### 'For' statement is also used for iterating over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [7]:
# list
my_list = [1, 2, 3, 4]
for each_item in my_list:
  print (each_item, end=" ")

1 2 3 4

In [8]:
my_list = ['a', 'e', 'i', 'o', 'u']

In [9]:
test_char = input("Enter Character: ")

Enter Character: t

In [11]:
test_result = 'consonant'
for each_char in my_list:
  if (each_char == test_char.lower()):
    test_result = 'vowel'
    break

In [12]:
print (test_result)

consonant

In [13]:
# list comprehension
# create a list of all odd numbers from 1 to 20
my_list = [number for number in range(1,20,2)]

In [14]:
my_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
type(my_list[0])

int

In [18]:
new_list = [ele for ele in 'hello']

In [19]:
print(new_list)

['h', 'e', 'l', 'l', 'o']

In [25]:
# list comprehension - another approach using "if" condition
# create a list of all odd numbers from 1 to 20
my_list = [number for number in range(1,20) if (number % 3 == 1)]

In [26]:
my_list

[1, 4, 7, 10, 13, 16, 19]

#### Exercise: Given a list of integers, write a for-loop to create a list of its squares.

In [32]:
# for instance if input list is [1, 2, 3, 4],  you need to create a list [1, 4, 9, 16]
list = [1,2,3,4] 
square_list = [i**2 for i in list]
print(square_list)

[1, 4, 9, 16]

Reference:
[Python Documentation on Control Statements](https://docs.python.org/3/tutorial/controlflow.html)